---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">

    {% if previous-post-date != post.date %}

    <span class="post-date">{{ post.date | date: "%A %B %-d, %Y" }}</span>

    {% endif %}

    {% if post.categories contains 'quotes' %}
      <h2 class="quote-title">
          {{ post.content }} -  <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}
        </a>
      </h2>
    {% else %}      
        <h1 class="post-title">
          {% if post.custom-link %}
            <a href="{{ site.baseurl }}{{ post.custom-link }}">
              {{ post.title }}
            </a>
            <div class="custom-link">
              <a href="{{ site.baseurl }}{{ post.url }}">
                ★
              </a>     
            </div>
          {% else %}
            <a href="{{ site.baseurl }}{{ post.url }}">
              {{ post.title }}
            </a>
          {% endif %}
        </h1>

      {{ post.content }}
      
    {% endif %}
  </div>
  
<!--   {% if forloop.first %}
    
    {% include app-ad.html %}

  {% endif %} -->

  {% assign previous-post-date = post.date %}

  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>