---
import { siteConfig } from '../data/site';
---

<nav class="pt-12 md:pt-16 pb-8 md:pb-12">
  <div class="max-w-2xl mx-auto px-6">
    <div class="flex flex-col gap-1">
      <a href="/" class="text-xl md:text-2xl font-semibold no-underline hover:no-underline text-neutral-900 dark:text-neutral-100">
        {siteConfig.author.name.toLowerCase()}
      </a>
      <div class="flex gap-4 text-neutral-500 dark:text-neutral-400">
        <a href="/blog" class="no-underline hover:text-neutral-900 dark:hover:text-neutral-100 transition-colors">
          blog
        </a>
        <a href="/about" class="no-underline hover:text-neutral-900 dark:hover:text-neutral-100 transition-colors">
          about
        </a>
      </div>
    </div>
  </div>
</nav>
