<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>
    <div class="container content">
      <div class="masthead header">
        <ul class="menu">
          <li><a href="{{ site.baseurl }}/about">About</a></li>
          <li><a href="https://github.com/mps">GitHub</a></li>
          <li><a href="https://twitter.com/strickland">Twitter</a></li>
        </ul>
        <h1 class="name">
          <a href="/">Matthew Strickland</a>
        </h1>
      </div>

      {{ content }}

      <div class="footer">
        <p>
          &copy; {{ site.time | date: '%Y' }}. All rights reserved.
        </p>
      </div>
    </div>
  </body>
</html>
