---
layout: default
---

<div class="post">
  <span class="post-date">{{ page.date | date: "%A %B %-d, %Y" }}</span>
    <h1 class="post-title">
      {% if page.custom-link %}
        <a href="{{ site.baseurl }}{{ page.custom-link }}">
          {{ page.title }}
        </a>
        <div class="custom-link">
          <a href="{{ site.baseurl }}{{ page.url }}">
            ★
          </a>     
        </div>
      {% else %}
        <a href="{{ site.baseurl }}{{ page.url }}">
          {{ page.title }}
        </a>
      {% endif %}
    </h1>
  
  {{ content }}
  <div id="share-this">
    <span class='st_facebook_hcount' displayText='Facebook'></span>
    <span class='st_twitter_hcount' displayText='Tweet'></span>
    <span class='st_linkedin_hcount' displayText='LinkedIn'></span>
    <span class='st_email_hcount' displayText='Email'></span>
  </div>
</div>

{% if page.categories contains 'wordpress' %}
  {% include wordpress-hosting-ad.html %}
{% else %} 
  {% include app-ad.html %}
{% endif %}

<div class="related">
  <h2>Recent Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h4>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date: "%B %-d, %Y" }}</small>
          </a>
        </h4>
      </li>
    {% endfor %}
  </ul>
</div>
